* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.header{
    padding:20px 0px;
    background-color: #1F2937;
}

#top-nav{
    margin-bottom:30px;
}

#top-nav a {
    color:aliceblue;
    text-decoration: none;
}

.flex-container {
    max-width:950px;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.item {
    flex: 1;
}

.logo-image {
    width: 150px;
    height: auto;
}

.banner-image {
    width:350px;
    height:auto;
}

#logo{
    flex:3;

}